<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Demo</title>
</head>

<body>

    <div id="app">
        <h1>{{ message }}</h1>
        <ul class="js-items">
            <li v-if="!items.length">Sorry, there are no items.</li>
            <li v-for="item in items" :class="{ 'is-blue': item.includes('blue') }">
                {{ item }}</li>
        </ul>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script>

        var vm = new Vue({
            el: "#app",
            data: {
                items: []
            },
            created(){
                this.fetech("https://example.com/items.json")
                    .then(res => res.json())
                    .then(data => this.items = data.items);
            }
        });
    </script>
</body>

</html>